@import '../../styles/helpers/_helpers';

.about-container {
  .user-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: auto;
    width: 33%;

    li {
      align-self: flex-start;
      flex-grow: 1;
    }
  }
}
