@import '../../styles/helpers/_helpers';

ul {
  display: flex;
  justify-content: center;

  li {
    display: inline-flex;
    list-style: none;
    padding: 0 10px;

    a {
      color: $vue-green;

      &.router-link-exact-active {
        color: $vue-blue;
        text-decoration: none;
      }
    }
  }
}
