@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans|Roboto+Condensed');

html, body {
  *:not(i) {
    font-family: $font-family--secondary;
  }
}

body {
  .primary {
    &--text {
      color: $vue-blue !important;
    }
  }
}

.flex {
  &-a {
    &-i {
      &-center {
        align-items: center;
      }
    }
  }
}
