// Fonts
$global-font-size: 16;
$navigation-font-size: 14;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Colors
$vue-green: #42b983;
$vue-blue: #2c3e50;
$dark-gray: #333333;
$dark-blue: #495060;
$light-silver: #f3f3f3;
$menu-background: darken($dark-blue, 30%);

//Breakpoints
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;
$bp-xl: 1800px;
