// Fonts
$global-font-size: 16;
$navigation-font-size: 14;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Colors
$vue-green: #42b983;
$vue-blue: #2c3e50;
$dark-gray: #333333;

//Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;