@import '../../styles/helpers/_helpers';

.homepage-container {
  .breakpoint:after {
    content: "xs";
  }

  @include breakpoint("sm") {
    .breakpoint:after {
      content: "sm";
    }
  }

  @include breakpoint("md") {
    .breakpoint:after {
      content: "md";
    }
  }

  @include breakpoint("lg") {
    .breakpoint:after {
      content: "lg";
    }
  }

  @include breakpoint("xl") {
    .breakpoint:after {
      content: "xl";
    }
  }
}
