@import '../../styles/helpers/_helpers';

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $dark-gray;
  margin-top: 0;

  .ivu-layout-header {
    align-content: center;
    align-items: center;
    background: $menu-background;
    justify-content: center;
    line-height: 1;
  }

  .logo {
    height: 10vh;
    align-self: center;
    flex-shrink: 1;

    img {
      max-height: 8vh;
      margin-top: 1vh;
    }
  }
}
